<div class = 'container'>
  <div class = 'row justify-content-center'>
    <div class = 'col-md-6 col-12 text-center'>
      <%= image_tag @group.get_group_image %>
      <h2 class = 'text-center mb-4'><%= @group.name %></h2>
      <p>グループポストの一覧（古い順から）<br>
        新規・編集  グループポストのフォーム<br>
        各ポストにいいね、コメント<br>
        自分のポストだけコメント見れる<br>
      </p>
      <%= link_to '退会する', group_membership_path(@group.id,@membership.id), method: :delete, data: { confirm: "本当に退会しますか？" }, class: 'btn btn-secondary' %>
      <% if @group.owner.id == current_member.id %>
        <%= link_to '編集する', edit_group_path(@group.id), class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>
