<div class='container mt-4'>
  <h1 class='fw-bold border-bottom pb-2 mb-4 text-center'>
  <!-- select * from 'members' -->
    <%= @member.nickname %> コメント一覧
  </h1>

  <div class='row'>
    <div class='col-12 col-md-8 mx-auto'>
      <div class='table-responsive'>
        <table class='table table-bordered table-hover align-middle custom_back rounded'>
          <thead class='table-light'>
            <tr>
              <th>コメント内容</th>
              <th class='text-end'></th>
            </tr>
          </thead>

          <tbody>
            <!-- コメントのコンテントのみ select * from 'comments'-->
            <% @comments.each do |comment| %>
              <tr>
                <td><%= comment.content %></td>
                <td class='text-end'>
                  <%= link_to '削除', admin_member_comment_path(@member.id, comment.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
