<div class='container mt-5'>
  <div class='row justify-content-center'>
    <div class='col-md-6'>
      <h1 class='text-center mb-4 border-bottom'>Thanks for reaching out.</h1>

      SuRuで内容を確認し、数日以内に回答いたします。<br>
      いましばらくお待ちください。<br>

      <%= link_to 'TOPへ戻る', root_path, class: 'btn btn-outline-dark w-50 mt-3' %>

    </div>
  </div>
</div>