<div class='container mt-5'>
  <div class='row justify-content-center'>
    <div class='col-lg-4 col-md-4 col-sm-8'>
      <h1 class='text-center mb-4 border-bottom'>Thanks for reaching out.</h1>

      SuRuで内容を確認し、数日以内に回答いたします。
      いましばらくお待ちください。

    </div>
  </div>
</div>