
  <div class='container mt-2 '>
    <!-- 検索フォーム -->
    <div class='d-flex justify-content-end mb-4'>
      <%= render 'member/searches/search_form' %>
    </div>

    <h1 class='border-bottom pb-3 mb-3 text-center '>
      <%= @category.name %>
    </h1>
    <%= link_to '＋New Group', new_group_path, class: 'btn btn-outline-primary btn-lg mb-3' %>

    <!-- グループ一覧 -->
    <div class='row d-flex justify-content-center'>
      <%= render 'groups', groups: @category_groups %>
    </div>

  </div>
