<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-12 col-md-8 mx-auto">
      <div class="p-3 border rounded bg-light">
        <%= form_with url: admin_members_search_path, method: :get, class: 'd-flex' do |f| %>
          <%= f.text_field :word, class: 'form-control me-2', placeholder: '会員名' %>
          <%= f.submit '検索', class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'admin/members/search_members', members: @members %>