<div class= 'container'>
  <div class= 'd-flex justify-content-center'>
    <h1>SuRuTOPページ</h1>
    <%= link_to '新規登録', new_member_registration_path %>
    <%= link_to 'ログイン', new_member_session_path %>
  </div>
</div>